@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.dark-mode {
  background-color: black;
  transition: 0.3s ease-in-out;
}

.dark-mode h1 {
  color: white;
}

.search {
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  padding: 10px;
  margin-bottom: 20px;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
}

.search input:focus {
  outline: none;
}

.container {
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  min-height: 100vh;
}

.notes-list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.note.new {
  background-color: #b5e2fa;
}

textarea {
  border: none;
  resize: none;
  background-color: transparent;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: rgb(233, 233, 233);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 5px 15px;
  transition: 0.3s;
}

.save:hover {
  background-color: rgb(233, 233, 233);
  cursor: pointer;
}

.note {
  background-color: #ffe5ec;
  border: 1px solid rgb(0, 0, 0, 0.1);
  padding: 20px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.note-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-icon {
  cursor: pointer;
}